
body {
    background-color: linen;
}

h1 {
    text-align: center;
}

.blockFofTimer {
    border: 1px solid black;
    text-align: center;
}

.blockFofTimer > div {
    display: inline-block;
    border: 1px solid black;
}
